.container {
  display: flex;
  flex-direction: column;
  text-align: center;

  color: #484848;
  text-decoration: none;
  width: 360px;
  min-height: 610px;
  margin: 8px;
  padding: 32px;
  background: #fafafa;
  border-radius: 2px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  animation: fadein 2s;
}

.container:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.29), 0 10px 10px rgba(0, 0, 0, 0.26);
}

.title {
  font-size: 25px;
  font-weight: 400;
  letter-spacing: 2px;
  margin-bottom: 0;
  color: #465E84;
}

.title span {
  display: inline-block;
  margin-bottom: 5px;
}

.desc {
  text-align: center;
  position: relative;
  min-height: 170px;
}

.moreBtn {
  color: #465E84;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

.roleDesc {
  text-align: start;
}

.breakline {
  width: 50px;
  height: 3px;
  margin: 20px auto;
  background: #e2db21;
}

.company {
  color: #465E84;
  font-size: 18px;
  font-style: italic;
}

.dates {
  color: grey;
  font-size: 12px;
  font-style: italic;
}

.location {
  list-style-type: none;
  text-align: start;
  padding-bottom: 0;
  left: 0;
  bottom: 0;
}

.button {
  padding-left: 2em;
  padding-right: 2em;
}

.icons {
  display: flex;
  justify-content: center;
}

.image {
  height: 175px;
  margin: 10px;
  margin-bottom: 20px;
  box-shadow: 0 3px 3px 0px #c9c9c9;
}

.hidden {
  display: none;
}

.unhidden {
  animation: fadein 2s;
  -webkit-animation: fadein 2s;
  -moz-animation: fadein 2s;
  -o-animation: fadein 2s;
  -ms-animation : fadein 2s;
}

/* Show responsibilities only when in touchscreen mode */
@media screen and (max-width: 800px) {
  .image, .desc {
    display: none !important;
  }
  .roleDesc {
    display: inline-block !important;
  }
}

@supports (justify-content: space-evenly) {
  .icons {
      justify-content: space-evenly;
  }
}

@keyframes fadein {
  from {
      opacity: 0;
  }
  to {
      opacity: 1;
  }
}
