.title{
  font-size: 1.1em;
  font-weight: bold;
  margin-bottom: 0;
}

.zed {
  margin-bottom: 0;
}

.socials {
  text-align: right;
}

.upwrk {
  display: inline-block;
  text-decoration: none;
  height: 20px;
  font-size: 0.7em;
  font-weight: 400;
  margin-right: 5px;
  padding: 1px 3px;
  padding-top: 1px;
  border-radius: 4px;
  color: white;
  background: #6fda44;
}

.lnkdn {
  font-size: 1.3em;
  color: #0077b5;
}