.svg {
    height: 60px;
    width: 326px;
}

.text {
    fill: #1f1f1f;
    font-size: 50px;
    font-weight: 300;
    stroke: #1f1f1f;
    stroke-linecap: butt;
    stroke-linejoin: miter;
    stroke-width: 1;
    stroke-dasharray: 160;
    opacity: 10;

    animation: animate 3s cubic-bezier(.8, .06, .68, .99);
}

@keyframes animate {
    0% {
        opacity: 0;
        fill: none;
        stroke-dashoffset: 160;
    }
    10% {
        opacity: 0;
        fill: none;
        stroke-dashoffset: 160;
    }
    95% {
        fill: rgba(255, 255, 255, 0);
    }
    100% {
        opacity: 10;
        fill: rgba(255, 255, 255, 1);
        stroke-dashoffset: 0;
    }
}

@-webkit-keyframes animate {
    0% {
        opacity: 0;
        fill: none;
        stroke-dashoffset: 160;
    }
    10% {
        opacity: 0;
        fill: none;
        stroke-dashoffset: 160;
    }
    95% {
        fill: rgba(255, 255, 255, 0);
    }
    100% {
        opacity: 10;
        fill: rgba(255, 255, 255, 1);
        stroke-dashoffset: 0;
    }
}

@-ms-keyframes animate {
    0% {
        opacity: 0;
        fill: none;
        stroke-dashoffset: 160;
    }
    10% {
        opacity: 0;
        fill: none;
        stroke-dashoffset: 160;
    }
    95% {
        fill: rgba(255, 255, 255, 0);
    }
    100% {
        opacity: 10;
        fill: rgba(255, 255, 255, 1);
        stroke-dashoffset: 0;
    }
}
